*.o
Makefile
Makefile.user
config.h
config.log
config.status
src/.deps/
src/10
src/11
src/2
src/3
src/4
src/5
src/6
src/7
src/8
src/9
src/Makefile
src/keepaway.sh
src/sample_coach
src/sample_player
src/sample_trainer
src/start.sh
src/train.sh
stamp-h1
